CONFIG_TARGET_rockchip=y
CONFIG_TARGET_rockchip_armv8=y
CONFIG_TARGET_rockchip_armv8_DEVICE_friendlyarm_nanopi-r2s=y
CONFIG_TARGET_BOARD="rockchip"
CONFIG_TARGET_SUBTARGET="armv8"
CONFIG_TARGET_PROFILE="DEVICE_friendlyarm_nanopi-r2s"
CONFIG_TARGET_ARCH_PACKAGES="aarch64_generic"
CONFIG_DEFAULT_TARGET_OPTIMIZATION="-Os -pipe -mcpu=generic"
CONFIG_CPU_TYPE="generic"
CONFIG_DEFAULT_autocore-arm=y
CONFIG_DEFAULT_automount=y
CONFIG_DEFAULT_ethtool=y
CONFIG_DEFAULT_haveged=y
CONFIG_DEFAULT_htop=y
CONFIG_DEFAULT_kmod-gpio-button-hotplug=y
CONFIG_DEFAULT_kmod-usb-net-rtl8152=y
CONFIG_DEFAULT_uboot-envtools=y
CONFIG_DEFAULT_usb-modeswitch=y
CONFIG_HAS_TESTING_KERNEL=y
CONFIG_PCIE_SUPPORT=y
CONFIG_TARGET_OPTIMIZATION="-Os -pipe -mcpu=generic"
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_arm-trusted-firmware-rk3328=y
CONFIG_PACKAGE_u-boot-nanopi-r2s-rk3328=y
CONFIG_PACKAGE_autocore-arm=y
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_r8152-firmware=y
CONFIG_PACKAGE_kmod-scsi-core=y
CONFIG_PACKAGE_kmod-crypto-crc32c=y
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-ntfs3=y
CONFIG_PACKAGE_kmod-lib-crc16=y
CONFIG_PACKAGE_kmod-mii=y
CONFIG_PACKAGE_kmod-gpio-button-hotplug=y
CONFIG_PACKAGE_kmod-usb-net=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-rtl8152=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_kmod-usb-storage-uas=y
CONFIG_PACKAGE_libhavege=y
CONFIG_PACKAGE_libncurses=y
CONFIG_PACKAGE_libusb-1.0=y
CONFIG_PACKAGE_terminfo=y
CONFIG_PACKAGE_ethtool=y
CONFIG_PACKAGE_uboot-envtools=y
CONFIG_PACKAGE_ntfs3-mount=y
CONFIG_PACKAGE_haveged=y
CONFIG_PACKAGE_usb-modeswitch=y
